/* 




  



     .white{
        background-color:white;
    }


     .btn-primary-spacing 
       {
       margin-right: 5px;
       margin-bottom: 5px !important;
     
       } 

   .card2{
    width: 90% ;
       padding-left: 3px;
       margin-top: 10px;
       padding-bottom: 15px;
       padding-top: 10 px;
   }

   .title{
    color: gainsboro;
    text-align: left;
    padding-left: 10px;
}

   .invisible {
       visibility: hidden;
     }
   
     .tabla{
      
       height: 300px;
       width: 90% ;
       padding:0px;
    }
    .scroll{

         overflow-y: auto;  
    }
   
     .tabla2{
        
       height: 100px; 
       width: 90% ;
      padding:0px;
   }

   .tabla3{
       overflow-y: auto; 
       width: 90% ;
       padding:0px;
     
     
   }



   .color{
       
       background-color: #ff6501;
       color: white;
   }


   .ancho{
       width: 91px;
       
       margin-left: 2.5px ;
        
   }

    .filep{
       margin-left: 3px;
       margin-top: 10px;
      
   } 


   .prueba{

       height: 70px;
   }

   .padding{
       margin-right: 15px;
   }

   .check{
       margin-top: 5px;
   }

   .filepb{
       
       margin-top: 5px;
       height: 40px;
   } 
  

   .input{

       margin-left: 2px;
   } */




  



   .white{
    background-color:white;
        }


 .btn-primary-spacing 
   {
   margin-right: 5px;
   margin-bottom: 5px !important;
 
   } 

.card2{
   width: 70% ;
   padding-left: 3px;
   margin-top: 10px;
   padding-bottom: 15px;
   padding-top: 10 px;
}


.title{
   color: gainsboro;
   text-align: left;
   padding-left: 10px;
}

.invisible {
   visibility: hidden;
 }

 .tabla{
  min-height:100px ;
  max-height:300px ;
   /* height: 300px; */
   width: 90% ;
   padding:0px;
}
.scroll{

     overflow-y: auto;  
}

 .tabla2{
    
   height: 100px; 
  width: 90% ;
  padding:0px;
}

.tabla3{
   overflow-y: auto; 
   width: 90% ;
   padding:0px;
 
 
}



.color{
   /* background-color:gainsboro; */
   background-color: #ff6501;
   color: white;
}


.ancho{
   width: 91px;
   /* text-align: center; */
   margin-left: 2.5px ;
    
}

.filep{
   margin-left: 3px;
   margin-top: 7px;
  
} 

.ba{
   padding-top: 7px;
}

.prueba{

   height: 70px;
}

.padding{
   margin-right: 15px;
}

.check{
   margin-top: 5px;
}

.filepb{
   
   margin-top: 5px;
   height: 34px;
   padding-top: 1px;
} 


.input{

   margin-left: 2px;
}


.header{
  
  
   width: 90% ;
   padding:0px;
}

.colum{

   width: 200px; 
   padding: 0.25rem;
}  
 

.colum1{
    padding-left: 15px;
    padding-right: 1px;
    width: 100px;

   }

/*
.colum1{
    width: 100px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 3px;
   }
 
 padding-left: 0px;
padding-right: 1px; 
width: 70px; */


.colum2{
   padding-left: 5px;
   padding-right: 1px;
   width: 80px;

  }



/* 
.colum2{
    width: 80px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 3px;
}  */
.table{
padding: 0.25rem;

}


.aler{
margin: 0px;
padding: 1px;
padding-top: 5px;
padding-bottom: 0px;
padding-left: 10px;
}



.check{
    width: 30%;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.check-label{
    width: 60%;
    margin: 0px;
    padding: 0px;
    text-align: left;
}



.grup-select{
   margin-left: 10px;
}

.tipo{
margin-left: 30px;}