
    <h4 class="title">Planillas</h4>  
    <div class="container col-lg-10 tabla3 ">
      <div class="card">
        <div class="card-header color">Filtros </div>
        <!-- <form [formGroup]="mygrid" (ngSubmit)="filter()"> -->
          <div class="container-fluid">
            <div class="row ">
    
              <div class="col-6 ">
                <div class="row">
                 <label class="filep" for="sel1" >Buscar</label> 
              
                  <div class="col-md-8">
                    <div class="form-group">
                      <input type="text" class="form-control filepb" placeholder="Descripcion" >
                   
                    </div>
                  </div>
               </div>
              </div>
            </div>
          </div>     
        <!-- </form> -->
      </div>     
     
  
      <div class="container col-1 invisible">vacio</div>
    </div>
    <div class="container col-sm-10 col-lg-10 rounded header scroll ">
 

      <table class="table  table-bordere mb-0  ">
         <thead class="color border ">
          <tr>
          
            <th class="colum1">Periodo</th>
            <th class="colum1">Nombre Planilla</th>
            <th class="colum1">Grupo</th>
            <th class="colum1">Porcentaje</th>
          </tr>
        </thead> 
        </table>
     
    </div> 
    

    <div class="container col-sm-10 col-lg-10 rounded tabla scroll " >
  
    
      <table class="table table-bordered  mb-0">
        <tbody >
    
            
               
                <tr>
               
                  <td class="colum">202006</td>
                  <td class="colum">BGBA.xls</td>
                  <td class="colum">Filiales del Exterior</td>
                  <td class="colum">100</td>
                </tr>
                <tr>
               
                  <td class="colum">202006</td>
                  <td class="colum">BGBA.xls</td>
                  <td class="colum">Filiales del Exterior</td>
                  <td class="colum">100</td>
                </tr>
                <tr>
                
                  <td class="colum">202007</td>
                  <td class="colum">TarjetaNaranja.xls</td>
                  <td class="colum">Subsidiarias</td>
                  <td class="colum">100</td>
                </tr>
                <tr>
                
                  <td class="colum">202008</td>
                  <td class="colum">TarjetaNarnja.xls</td>
                  <td class="colum">Filiales del Exterior</td>
                  <td class="colum">90</td>
                </tr>
               
             
          <!-- <tr  *ngFor="let reportes of reportes" > -->
            <!-- <td class="colum">{{reportes.periodo}}</td>
            <td class="colum">{{reportes.empresas}}</td>
            <td class="colum">{{reportes.contraparte}}</td>
            <td class="colum">{{reportes.rubro}}</td>
            <td class="colum">{{reportes.saldo}}</td>
            <td class="colum">{{reportes.saldopromedio}}</td> 
            <td class="colum">{{reportes.gemp_id}}</td> 
            <td class="colum">{{reportes.emp_porcentaje}}</td> 
            <td class="colum">{{reportes.moneda}}</td>  -->
    
          </tbody>
      </table>
    
     </div>
    
    

<div class="container col-1 invisible">vacio</div>


   