<nav id="navBar" class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" [routerLink] = "'/'"><img src="../../assets/img/Fruty.JPG" width="211px" height="62px"></a> 
  <button class="navbar-toggler" style="background-color: #ff6501!important;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink] = "'/Moneda'">Procesos </a>
       </li>-->
        <li class="nav-item">
        <a class="nav-link" [routerLink] = "'/Moneda'" style="color: white;" >Fruty San</a>
     </li> 
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Anto
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink] = "'/Moneda'">Fruty San</a>
            <a class="dropdown-item"[routerLink] = "'/Rubros'" >Rubros</a>
            <a class="dropdown-item" [routerLink] = "'/Implanillas'" >Importacion Planillas</a>
            <a class="dropdown-item" >Historial </a> 
          </div>
        </li> -->

<!-- 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Configuraciones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink] = "'/Grupos'">Grupos</a>
            <a class="dropdown-item"[routerLink] = "'/Empresas'">Empresas</a>
            <a class="dropdown-item" [routerLink] = "'/Usuarios'">Usuarios </a>
          </div>
        </li> -->


       
    </ul>
    <span class="navbar-text" >      
            <div class="row">
              <div class="col-12" ><i class="fas fa-user"></i>&nbsp;Anto Luque</div>
            </div>
            <div class="row">
                <div class="col-12"><i class="fa fa-users"></i>&nbsp;Administracion</div>
            </div>         
           
      </span>
  </div>
</nav>
