/* *{
    font-size: 18px;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #FF6600;
} */

#navBar {
    border-bottom: 1px solid black;
    background-color: #ff6501;
}


.centrado{
    display: block;
    margin-left: auto;
    /* margin-right: auto; */
    margin-top: 5px;
   
}

/* .bg-light{
    
} */