
.white{
    background-color:white;
}


 .btn-primary-spacing 
   {
   margin-right: 5px;
   margin-bottom: 5px !important;
 
   } 

.card2{
   width: 70% ;
   padding-left: 3px;
   margin-top: 10px;
   padding-bottom: 15px;
   padding-top: 10 px;
}


.title{
   color: gainsboro;
   text-align: left;
   padding-left: 10px;
}

.invisible {
   visibility: hidden;
 }

 .tabla{
  min-height:100px ;
  max-height:300px ;
   /* height: 300px; */
   width: 90% ;
   padding:0px;
}
.scroll{

     overflow-y: auto;  
}

 .tabla2{
    
   height: 100px; 
  width: 90% ;
  padding:0px;
}

.tabla3{
   overflow-y: auto; 
   width: 90% ;
   padding:0px;
 
 
}



.color{
   /* background-color:gainsboro; */
   background-color: #ff6501;
   color: white;
}


.ancho{
   width: 91px;
   /* text-align: center; */
   margin-left: 2.5px ;
    
}
.filep{
    margin-left: 10px ;
    margin-top: 7px;
    height: 40px;
} 

.ba{
   padding-top: 7px;
}

.prueba{

   height: 70px;
}

.padding{
   margin-right: 15px;
}

.check{
   margin-top: 5px;
}

.filepb{
   
   margin-top: 5px;
   height: 34px;
   padding-top: 1px;
} 


.input{

   margin-left: 2px;
}


.header{
  
  
   width: 90% ;
   padding:0px;
}

.colum{

    width: 200px;
    padding: 0.75rem;
}  

.colum1{
padding-left: 15px;
padding-right: 1px;
width: 100px;
}

.table{
padding: 0.25rem;
}


.aler{
margin: 0px;
padding: 1px;
padding-top: 5px;
padding-bottom: 0px;
padding-left: 10px;
}